<br><br>

echo "
      <div class='container'>

        <table style='border: solid black; 2px'>

             <tr><td>Student Name: </td></tr>
             <tr><td>Student ID: </td></tr>
        </table>

        <br>

        <table >
             <thead>
               <th> Subject </th>
               <th> Marks </th>
               <th> Grade </th>
             </thead>

             <tr>
                <td>Bangla</td>
                <td></td>
                <td>A+</td>
             </tr>

              <tr>
                <td>English</td>
                <td></td>
                <td>A+</td>
             </tr>

              <tr>
                <td>Bangla</td>
                <td></td>
                <td></td>
             </tr>

        </table>

     </div>
<br><br>

echo "
      <div class='container'>

        <table style='border: solid black; 2px'>

             <tr><td>Student Name: kaniz</td></tr>
             <tr><td>Student ID: 148534</td></tr>
        </table>

        <br>

        <table >
             <thead>
               <th> Subject </th>
               <th> Marks </th>
               <th> Grade </th>
             </thead>

             <tr>
                <td>Bangla</td>
                <td>33</td>
                <td>D</td>
             </tr>

              <tr>
                <td>English</td>
                <td>34</td>
                <td>D</td>
             </tr>

              <tr>
                <td>Math</td>
                <td></td>
                <td></td>
             </tr>

        </table>

     </div>
<br><br>


      <div class='container'>

        <table style='border: solid black; 2px'>

             <tr><td>Student Name: kaniz</td></tr>
             <tr><td>Student ID: 148534</td></tr>
        </table>

        <br>

        <table >
             <thead>
               <th> Subject </th>
               <th> Marks </th>
               <th> Grade </th>
             </thead>

             <tr>
                <td>Bangla</td>
                <td>33</td>
                <td>D</td>
             </tr>

              <tr>
                <td>English</td>
                <td>34</td>
                <td>D</td>
             </tr>

              <tr>
                <td>Math</td>
                <td></td>
                <td></td>
             </tr>

        </table>

     </div>
<br><br>


      <div class='container'>

        <table style='border: solid black; 2px'>

             <tr><td>Student Name: ROCKY</td></tr>
             <tr><td>Student ID: 12345</td></tr>
        </table>

        <br>

        <table >
             <thead>
               <th> Subject </th>
               <th> Marks </th>
               <th> Grade </th>
             </thead>

             <tr>
                <td>Bangla</td>
                <td>80</td>
                <td>A+</td>
             </tr>

              <tr>
                <td>English</td>
                <td>60</td>
                <td>A-</td>
             </tr>

              <tr>
                <td>Math</td>
                <td></td>
                <td></td>
             </tr>

        </table>

     </div>
<br><br>


      <div class='container'>

        <table style='border: solid black; 2px'>

             <tr><td>Student Name: RUMI</td></tr>
             <tr><td>Student ID: 12345</td></tr>
        </table>

        <br>

        <table >
             <thead>
               <th> Subject </th>
               <th> Marks </th>
               <th> Grade </th>
             </thead>

             <tr>
                <td>Bangla</td>
                <td>70</td>
                <td>A</td>
             </tr>

              <tr>
                <td>English</td>
                <td>80</td>
                <td>A+</td>
             </tr>

              <tr>
                <td>Math</td>
                <td></td>
                <td></td>
             </tr>

        </table>

     </div>
<br><br>


      <div class='container'>

        <table style='border: solid black; 2px'>

             <tr><td>Student Name: RUMI</td></tr>
             <tr><td>Student ID: 12345</td></tr>
        </table>

        <br>

        <table >
             <thead>
               <th> Subject </th>
               <th> Marks </th>
               <th> Grade </th>
             </thead>

             <tr>
                <td>Bangla</td>
                <td>70</td>
                <td>A</td>
             </tr>

              <tr>
                <td>English</td>
                <td>80</td>
                <td>A+</td>
             </tr>

              <tr>
                <td>Math</td>
                <td>60</td>
                <td>A-</td>
             </tr>

        </table>

     </div>
<br><br>


      <div class='container'>

        <table style='border: solid black; 2px'>

             <tr><td>Student Name: RUMI</td></tr>
             <tr><td>Student ID: 12345</td></tr>
        </table>

        <br>

        <table >
             <thead>
               <th> Subject </th>
               <th> Marks </th>
               <th> Grade </th>
             </thead>

             <tr>
                <td>Bangla</td>
                <td>70</td>
                <td>A</td>
             </tr>

              <tr>
                <td>English</td>
                <td>80</td>
                <td>A+</td>
             </tr>

              <tr>
                <td>Math</td>
                <td>60</td>
                <td>A-</td>
             </tr>

        </table>

     </div>
<br><br>


      <div class='container'>

        <table style='border: solid black; 2px'>

             <tr><td>Student Name: riaz</td></tr>
             <tr><td>Student ID: 34567</td></tr>
        </table>

        <br>

        <table >
             <thead>
               <th> Subject </th>
               <th> Marks </th>
               <th> Grade </th>
             </thead>

             <tr>
                <td>Bangla</td>
                <td>70</td>
                <td>A</td>
             </tr>

              <tr>
                <td>English</td>
                <td>80</td>
                <td>A+</td>
             </tr>

              <tr>
                <td>Math</td>
                <td>60</td>
                <td>A-</td>
             </tr>

        </table>

     </div>
